extends layout

block content
  h1= title
  p Welcome to #{title}
  
  if polling == true
    form(action="/stop_polling", method="post") 
      input(type="submit", value="Stop Polling") 
  else
    form(action="/start_polling", method="post") 
      input(type="submit", value="Start Polling") 
      
