extends layout

block content
  h1= title
  p Welcome to #{title}
  
  p Entries:
    | #{validEntries ? validEntries : 'There are no entries found.'}
  
  form(action="/start_polling", method="post")
    if polling === true
     input(type="submit", value="Stop Polling") 
    else
      input(type="submit", value="Start Polling")
